<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="manifest" href="gonoteit.webmanifest">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>gonoteit</title>
    <script>
      window.updateIsMobile = () => {
        window.isMobile = window.innerWidth < 1024
        const body = document.getElementById('body')
        const className = 'has-navbar-fixed-bottom'
        if (window.isMobile && !body.classList.contains(className)) {
          body.classList.add(className)
        }
        if (!window.isMobile && body.classList.contains(className)) {
          body.classList.remove(className)
        }
      }
      window.addEventListener('DOMContentLoaded', () => {
        window.updateIsMobile()
      })
      window.addEventListener('resize', () => {
        window.updateIsMobile()
      })
      window.addEventListener('load', () => {
        registerSW()
      })

      // Register the Service Worker
      async function registerSW() {
        if ('serviceWorker' in navigator) {
          try {
            await navigator
              .serviceWorker
              .register('serviceworker.js');
          }
          catch (e) {
            console.log('SW registration failed');
          }
        }
      }
    </script>
  </head>
  <body id="body">
    <noscript>
      <strong>We're sorry but gonoteit-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
