<template>
  <section class="section">
    <div class="container">
      <div class="block actions">
        <button class="button mr-5" @click="resetTop">Show all</button>
        <div class="select">
          <select v-model="monthId" @change="goToMonth()">
            <option disabled selected value>Select month</option>
            <option v-for="month in months" :key="month.id" :value="month.id">
              {{ month.name }}
            </option>
          </select>
        </div>
      </div>
      <div :id="month.id" class="block" v-for="month in months" :key="month.id">
        <div class="month block">
          <hr class="separator-line" />
          <span class="separator-text">{{ month.name }}</span>
          <hr class="separator-line" />
        </div>
        <div class="columns is-multiline">
          <div
            class="column is-half-tablet is-one-third-widescreen"
            v-for="day in month.days"
            v-bind:key="day.date"
          >
            <Day :date="day.date" :notes="day.notes" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'
  import { DateTime } from 'luxon'

  import { DisableLoadingOnUpdatedMixin } from '@/mixins/DisableLoadingMixins.js'
  import Day from '@/components/Day.vue'
  import api from '@/api'

  export default {
    name: 'Calendar',
    mixins: [DisableLoadingOnUpdatedMixin],
    components: {
      Day,
    },
    data() {
      return {
        monthId: '',
      }
    },
    computed: {
      ...mapGetters('notes', ['months']),
    },
    methods: {
      ...mapMutations('notes', ['setFilters', 'setAvailableFilter', 'resetTop']),
      goToMonth() {
        document.getElementById(this.monthId).scrollIntoView()
      },
    },
    mounted() {
      this.setFilters(['calendarNotes', 'notPastNotes'])
      this.setAvailableFilter(['notReccuringNotes'])

      // TODO: Get changelog from api
      // dateFrom: DateTime.local().startOf('day').toSeconds(),
    },
  }
</script>

<style scoped lang="scss">
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .separator-line {
    border-bottom: 1px solid;
    flex-grow: 4;
  }
  .separator-text {
    flex-grow: 1;
    text-align: center;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
