<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div
          class="column is-half-tablet is-one-third-widescreen"
          v-for="note in favoriteNotes"
          v-bind:key="note.id"
        >
          <Note :note="note" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex'

  import { DisableLoadingOnUpdatedMixin } from '@/mixins/DisableLoadingMixins.js'
  import Note from '@/components/Note.vue'
  import api from '@/api'

  export default {
    name: 'Favorite',
    mixins: [DisableLoadingOnUpdatedMixin],
    components: {
      Note,
    },
    data() {
      return {}
    },
    computed: {
      ...mapState('user', ['data']),
      ...mapGetters('notes', ['searchedNotes']),
      favoriteNotes() {
        if (this.data.favorite === undefined) {
          return this.searchedNotes
        }

        return this.searchedNotes.filter(n => this.data.favorite.includes(n.id))
      },
    },
    methods: {
      ...mapMutations('notes', ['resetFilters', 'setAvailableFilter']),
    },
    mounted() {
      this.setAvailableFilter([])
      this.resetFilters()
      // TODO: Get changelog from api
    },
  }
</script>
