<template>
  <section class="hero is-primary has-text-centered is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <img src="../assets/logo.png" />
        <h1 class="title has-text-white-bis">Self-hosted notes app</h1>
        <h2 class="subtitle has-text-white-bis">Don't be a product, own your data!</h2>
        <button
          class="button is-large is-secondary has-text-white-bis"
          v-if="!isLoggedIn"
          @click="openLoginModal"
        >
          Log in
        </button>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapMutations } from 'vuex'
  import { DisableLoadingOnMountedMixin } from '@/mixins/DisableLoadingMixins.js'

  export default {
    name: 'Home',
    components: {},
    mixins: [DisableLoadingOnMountedMixin],
    methods: {
      ...mapMutations('modal', ['open']),
      openLoginModal() {
        this.open({ name: 'login' })
      },
    },
    computed: {
      ...mapState('user', ['isLoggedIn']),
    },
    watch: {
      isLoggedIn(newValue, oldValue) {
        if (newValue && !oldValue) {
          this.$router.push({ name: 'calendar' })
        }
      },
    },
  }
</script>
