<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div
          class="column is-half-tablet is-one-third-widescreen"
          v-for="note in activeNotes"
          v-bind:key="note.id"
        >
          <Note :note="note" />
        </div>
      </div>
    </div>
    <div class="mt-5 is-flex is-justify-content-center">
      <button class="button mr-5" @click="resetTop">Show all</button>
    </div>
  </section>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'

  import { DisableLoadingOnUpdatedMixin } from '@/mixins/DisableLoadingMixins.js'
  import Note from '@/components/Note.vue'
  import api from '@/api'

  export default {
    name: 'Notes',
    mixins: [DisableLoadingOnUpdatedMixin],
    components: {
      Note,
    },
    data() {
      return {}
    },
    computed: {
      ...mapGetters('notes', ['activeNotes']),
    },
    methods: {
      ...mapMutations('notes', ['setFilters', 'setAvailableFilter', 'resetTop']),
    },
    mounted() {
      this.setAvailableFilter([])
      this.setFilters(['notCalendarNotes'])
      // TODO: Get changelog from api
    },
  }
</script>
