<template>
  <nav
    class="navbar is-primary is-fixed-bottom"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <router-link to="/notes" class="navbar-item">
              <span class="icon is-medium has-text-white">
                <i class="far fa-sticky-note fa-lg"></i>
              </span>
            </router-link>
          </div>
          <div class="level-item">
            <router-link to="/favorite" class="navbar-item">
              <span class="icon is-medium has-text-white">
                <i class="far fa-heart fa-lg"></i>
              </span>
            </router-link>
          </div>
          <div class="level-item">
            <router-link to="/calendar" class="navbar-item">
              <span class="icon is-medium has-text-white">
                <i class="far fa-calendar-alt fa-lg"></i>
              </span>
            </router-link>
          </div>
        </div>

        <div class="level-right">
          <div class="level-item mr-1">
            <div
              :class="['dropdown', 'is-up', { 'is-active': addNewIsActive }]"
              @click="addNewIsActive = !addNewIsActive"
            >
              <div class="dropdown-trigger">
                <button class="button is-medium is-secondary has-text-white">
                  <span class="icon is-medium">
                    <i class="fas fa-plus-circle fa-lg"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" @click="openNoteModal">
                    <span class="icon is-medium">
                      <i class="far fa-sticky-note fa-lg"></i>
                    </span>
                  </a>
                  <a class="dropdown-item" @click="openCalendarNoteModal">
                    <span class="icon is-medium">
                      <i class="far fa-calendar-alt fa-lg"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import { mapMutations } from 'vuex'

  export default {
    name: 'BottomNavbar',
    data() {
      return {
        addNewIsActive: false,
      }
    },
    computed: {},
    methods: {
      ...mapMutations('modal', ['open']),
      openNoteModal() {
        this.open({ name: 'note' })
      },
      openCalendarNoteModal() {
        this.open({ name: 'calendar-note' })
      },
      openRecurringCalendarNoteModal() {
        this.open({ name: 'recurring-note' })
      },
    },
  }
</script>

<style scoped lang="scss">
  div.level {
    width: 100%;
  }
  .dropdown-menu {
    width: 50px;
    min-width: 0px;
  }
  .dropdown-item {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
</style>
