<template>
  <div :class="{ modal: true, 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card" @keydown.shift.enter.exact.prevent="submit">
      <header class="modal-card-head">
        <p class="modal-card-title">Note</p>
        <FavoriteIcon v-if="!newNote" :noteId="noteId" />
      </header>
      <section class="modal-card-body">
        <article :class="errorMessageClassObject">
          <div class="message-body">{{ error }}</div>
        </article>
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" v-model="title" />
          </div>
          <p class="help"></p>
        </div>
        <div class="field">
          <label class="label">Date</label>
          <div class="control level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <datetime
                  type="datetime"
                  v-model="datetime"
                  format="dd-MM-yyyy HH:mm"
                  input-class="input"
                ></datetime>
              </div>
              <div class="level-item">
                <span class="icon is-medium" v-if="datetime" @click="datetime = null">
                  <i class="fas fa-times fa-lg"></i>
                </span>
              </div>
            </div>
          </div>
          <p class="help"></p>
        </div>
        <div class="field">
          <label class="label">Content</label>
          <div class="control">
            <textarea class="textarea" v-model="content" rows="3" />
          </div>
          <p class="help"></p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="modal-card-foot-left">
          <button v-if="newNote" class="button is-success" @click="create">
            Create
          </button>
          <button v-else class="button is-success" @click="update">Update</button>
          <button v-if="isCancelled" class="button" @click="undo_cancel">
            Undo cancel
          </button>
          <button v-else class="button" @click="cancel">Cancel</button>
        </div>
        <div class="modal-card-foot-right">
          <button class="button" @click="closeModal">Close</button>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex'
  import { EntityModalMixin } from '@/mixins/EntityModalMixin.js'
  import { NoteType } from '@/enums.js'

  import FavoriteIcon from '@/components/FavoriteIcon.vue'

  export default {
    name: 'CalendarNoteModal',
    mixins: [EntityModalMixin],
    components: {
      FavoriteIcon,
    },
    data() {
      return {
        noteType: NoteType.CALENDAR_NOTE,
        modalName: 'calendar-note',
      }
    },
    methods: {
      ...mapMutations('modal', ['close']),
      getNoteData() {
        return {
          data: JSON.stringify({
            title: this.title,
            content: this.content,
          }),
          date: this.timestamp,
        }
      },
    },
    computed: {
      ...mapState('modal', ['name', 'args']),
      ...mapGetters(['modal/isOpen']),
    },
  }
</script>

<style scoped lang="scss">
  @import '../scss/_variables.scss';

  .modal-card-foot {
    display: flex;
    justify-content: space-between;
  }
</style>
