<template>
  <div class="card">
    <header
      :class="[
        'card-header',
        { 'has-primary-bg': !isToday },
        { 'has-secondary-bg': isToday },
      ]"
    >
      <p class="card-header-title is-capitalized has-text-white">
        {{ day }}
      </p>
      <p class="card-header-icon is-capitalized has-text-white">
        {{ diff }}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <div v-if="notes.length">
          <template v-for="(note, index) in notes">
            <div class="note" :key="`level-${note.id}`">
              <div class="note-title">
                {{ note.data.title }}
              </div>
              <div class="note-time">
                <span class="icon is-medium">
                  <i class="far fa-clock fa-lg"></i>
                </span>
                <p>{{ time(note.date) }}</p>
              </div>
              <div
                :class="[
                  'dropdown',
                  'is-right',
                  'note-options',
                  { 'is-active': noteWithOpenMenu === note.id },
                ]"
              >
                <div class="dropdown-trigger">
                  <button
                    class="button is-secondary has-text-white"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    @click="openMenu(note)"
                  >
                    <span class="icon is-medium">
                      <i class="fas fa-ellipsis-v fa-lg"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" @click="openNoteModal(note)">
                      Edit
                    </a>
                    <a class="dropdown-item" @click="openDeleteNoteModal(note)">
                      Delete
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <hr
              class="has-primary-bg"
              v-if="index < notes.length - 1"
              :key="`hr-${note.id}`"
            />
          </template>
        </div>
        <div class="has-text-centered" v-else>
          <p>There are no events.</p>
          <span class="icon is-medium">
            <i class="fas fa-heart fa-lg"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'
  import { DateTime } from 'luxon'
  import { NoteType } from '@/enums.js'

  export default {
    name: 'Day',
    props: ['notes', 'date'],
    data() {
      return {
        noteWithOpenMenu: null,
      }
    },
    computed: {
      day() {
        return `${this.weekDay}, ${this.date}`
      },
      isToday() {
        const today = DateTime.local().toFormat('dd-MM-yyyy')

        return this.date === today
      },
      isTomorrow() {
        const tomorrow = DateTime.local()
          .plus({ days: 1 })
          .toFormat('dd-MM-yyyy')

        return this.date === tomorrow
      },
      diff() {
        if (this.isToday) {
          return 'TODAY'
        }

        if (this.isTomorrow) {
          return 'TOMORROW'
        }

        const today = DateTime.local().startOf('day')
        const diff = this.datetime.diff(today, 'days').as('days')

        return `IN ${diff} DAYS`
      },
      datetime() {
        return DateTime.fromFormat(this.date, 'dd-MM-yyyy')
      },
      weekDay() {
        return this.datetime.toFormat('cccc')
      },
    },
    methods: {
      ...mapMutations('modal', ['open']),
      time(date) {
        return DateTime.fromSeconds(date).toFormat('HH:mm')
      },
      openMenu(note) {
        if (this.noteWithOpenMenu === note.id) {
          this.noteWithOpenMenu = null
        } else {
          this.noteWithOpenMenu = note.id
        }
      },
      openNoteModal(note) {
        if (note.type === NoteType.RECURRING_NOTE.name) {
          this.open({ name: 'recurring-note', args: { note } })
        } else {
          this.open({ name: 'calendar-note', args: { note } })
        }
        this.noteWithOpenMenu = null
      },
      openDeleteNoteModal(note) {
        this.open({ name: 'delete-note', args: { note } })
        this.noteWithOpenMenu = null
      },
    },
  }
</script>

<style scoped lang="scss">
  .card-header-icon {
    cursor: auto;
  }
  .note {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .note-title {
    flex-grow: 2;
    text-align: center;
  }
  .note-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }
</style>
