<template>
  <div :class="{ modal: true, 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete note</p>
        <FavoriteIcon :noteId="noteId" :readonly="true" />
      </header>
      <section class="modal-card-body">
        <article :class="errorMessageClassObject">
          <div class="message-body">{{ error }}</div>
        </article>
        <fieldset disabled>
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" v-model="title" />
            </div>
            <p class="help"></p>
          </div>
          <div class="field">
            <label class="label">Content</label>
            <div class="control">
              <textarea class="textarea" v-model="content" />
            </div>
            <p class="help"></p>
          </div>
        </fieldset>
        <div v-if="type === NoteType.RECURRING_NOTE.name" class="field">
          <label class="label">Applay to</label>
          <div class="control">
            <div class="select">
              <select v-model="applyTo">
                <option v-for="group in RecurringNoteGroup" :key="group.value">
                  {{ group.name }}
                </option>
              </select>
            </div>
          </div>
          <p class="help"></p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="modal-card-foot-left">
          <button class="button is-danger" @click="remove">Delete</button>
        </div>
        <div class="modal-card-foot-right">
          <button class="button" @click="closeModal">Close</button>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex'
  import api from '@/api'

  import FavoriteIcon from '@/components/FavoriteIcon.vue'
  import { NoteType, RecurringNoteGroup } from '@/enums.js'

  export default {
    name: 'DeleteNoteModal',
    components: {
      FavoriteIcon,
    },
    data() {
      return {
        type: null,
        noteId: null,
        title: '',
        content: '',
        error: '',
        applyTo: RecurringNoteGroup.THIS.name,
        NoteType,
        RecurringNoteGroup,
      }
    },
    methods: {
      ...mapMutations('modal', ['close']),
      ...mapMutations('notes', ['deleteNote', 'deleteNotes']),
      closeModal() {
        this.error = ''
        this.close()
      },
      getReplace() {
        return [{ pattern: '#{apply_to}', value: this.applyTo }]
      },
      remove() {
        this.error = ''
        const replace = this.getReplace()
        api
          .deleteNote(
            {
              id: this.args.note.id,
            },
            { replace },
          )
          .then(response => {
            if ('errors' in response.data) {
              this.error = response.data.errors[0].message
            } else {
              const deleteEntity = response.data.data.deleteEntity
              if (deleteEntity.relatedEntities) {
                this.deleteNotes(deleteEntity.relatedEntities)
              }
              if (
                ![
                  RecurringNoteGroup.ALL_NEXT.name,
                  RecurringNoteGroup.ALL_PREVIOUS.name,
                ].includes(this.applyTo)
              ) {
                this.deleteNote(this.args.note.id)
              }
              this.closeModal()
            }
          })
          .catch(error => {
            this.error = error
          })
      },
    },
    computed: {
      ...mapState('modal', ['name', 'args']),
      ...mapGetters(['modal/isOpen']),
      isActive() {
        return this['modal/isOpen']('delete-note')
      },
      errorMessageClassObject() {
        return {
          message: true,
          'is-danger': true,
          'is-hidden': this.error === '',
        }
      },
    },
    watch: {
      name(value) {
        if (value === 'delete-note') {
          this.type = this.args.note.type
          this.title = this.args.note.data.title
          this.content = this.args.note.data.content
          this.noteId = this.args.note.id
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  @import '../scss/_variables.scss';

  .modal-card-foot {
    display: flex;
    justify-content: space-between;
  }
</style>
