<template>
  <span
    :class="[
      'icon',
      'is-medium',
      'has-secondary-text',
      { pointer: !readonly },
      { 'no-pointer': readonly },
    ]"
    @click="toogle"
  >
    <i
      :class="[{ fas: isFavorite }, { far: !isFavorite }, 'fa-heart', 'fa-lg']"
    ></i>
  </span>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'FavoriteIcon',
    props: ['noteId', 'readonly'],
    data() {
      return {}
    },
    computed: {
      ...mapGetters('user', ['noteIsFavorite']),
      isFavorite() {
        return this.noteIsFavorite(this.noteId)
      },
    },
    methods: {
      ...mapActions('user', ['likeNote', 'dislikeNote']),
      toogle() {
        if (this.isFavorite) {
          this.dislikeNote(this.noteId)
        } else {
          this.likeNote(this.noteId)
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  .no-pointer {
    cursor: not-allowed;
  }
  .pointer {
    cursor: pointer;
  }
</style>
