<template>
  <span v-if="isLoading" class="icon is-medium">
    <i class="fas fa-spinner fa-pulse fa-lg"></i>
  </span>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'LoadingIcon',
    data() {
      return {}
    },
    computed: {
      ...mapState('app', ['isLoading']),
    },
    methods: {},
  }
</script>

<style scoped lang="scss"></style>
