<template>
  <div :class="{ modal: true, 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card" @keydown.enter="performLogin">
      <header class="modal-card-head">
        <p class="modal-card-title">Log in</p>
        <button
          class="delete"
          aria-label="close"
          @click="closeModal()"
        ></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Server</label>
          <div class="control">
            <input class="input" type="text" v-model="server" />
          </div>
          <p class="help"></p>
        </div>
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" v-model="username" />
          </div>
          <p class="help"></p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" v-model="password" />
          </div>
          <p class="help"></p>
        </div>

        <article :class="errorMessageClassObject">
          <div class="message-body">{{ error }}</div>
        </article>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="performLogin()">
          Log in
        </button>
        <button class="button" @click="closeModal()">Cancel</button>
      </footer>
    </div>
  </div>
</template>

<script>
  import { mapMutations, mapActions, mapGetters } from 'vuex'
  import api from '@/api'

  export default {
    name: 'LoginModal',
    data() {
      const server = api.getServer()

      return {
        server,
        username: '',
        password: '',
        error: '',
      }
    },
    methods: {
      ...mapMutations('modal', ['close']),
      ...mapActions('user', ['login']),
      closeModal() {
        this.error = ''
        this.close()
      },
      performLogin() {
        this.error = ''
        api
          .login(
            {
              username: this.username,
              password: this.password,
            },
            { server: this.server },
          )
          .then((response) => {
            api.setServer(this.server)
            if ('errors' in response.data) {
              this.error = response.data.errors[0].message
            } else {
              this.login(response.data.data.tokenAuth.token)
              this.closeModal()
            }
          })
      },
    },
    computed: {
      ...mapGetters(['modal/isOpen']),
      isActive() {
        return this['modal/isOpen']('login')
      },
      errorMessageClassObject() {
        return {
          message: true,
          'is-danger': true,
          'is-hidden': this.error === '',
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  @import '../scss/_variables.scss';
</style>
