<template>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link to="/" class="navbar-item">
        <img src="../assets/gonoteit_logo.svg" />
      </router-link>

      <a
        role="button"
        :class="['navbar-burger', 'burger', { 'is-active': isActive }]"
        aria-label="menu"
        aria-expanded="false"
        @click="isActive = !isActive"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div :class="['navbar-menu', { 'is-active': isActive }]">
      <div class="navbar-start" v-if="isLoggedIn">
        <router-link to="/notes" class="navbar-item">
          <span class="icon is-medium">
            <i class="far fa-sticky-note"></i>
          </span>
          Notes
        </router-link>

        <router-link to="/favorite" class="navbar-item">
          <span class="icon is-medium">
            <i class="far fa-heart"></i>
          </span>
          Favorite
        </router-link>

        <router-link to="/calendar" class="navbar-item">
          <span class="icon is-medium">
            <i class="far fa-calendar-alt"></i>
          </span>
          Calendar
        </router-link>

        <div class="navbar-item">
          <div
            :class="['dropdown', { 'is-active': addNewIsActive }]"
            @click="addNewIsActive = !addNewIsActive"
          >
            <div class="dropdown-trigger">
              <button class="button is-secondary has-text-white-ter">
                <span>Add new</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item is-size-6" @click="openNoteModal"> Note </a>
                <a class="dropdown-item is-size-6" @click="openCalendarNoteModal">
                  Calendar note
                </a>
                <a
                  class="dropdown-item is-size-6"
                  @click="openRecurringCalendarNoteModal"
                >
                  Recurring calendar note
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <input
            class="input"
            type="text"
            :value="searchPhrase"
            @input="performSearch"
            placeholder="search"
          />
        </div>
        <div v-if="availableFilters.length > 0" class="navbar-item">
          <div
            :class="['dropdown', { 'is-active': filtersIsActive }]"
            @click="filtersIsActive = !filtersIsActive"
          >
            <div class="dropdown-trigger">
              <button class="button is-light">
                <span>Filters</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a
                  v-for="filter in availableFilters"
                  :key="filter"
                  :class="['dropdown-item', { 'is-active': filterIsEnabled(filter) }]"
                  @click="toogleFilter(filter)"
                >
                  {{ filter }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <LoadingIcon />
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a v-if="isLoggedIn" class="button is-light" @click="reloadAllNotes">
              <span class="icon is-medium">
                <i class="fas fa-sync-alt fa-lg"></i>
              </span>
            </a>
            <a v-if="isLoggedIn" :href="adminAddress" class="button is-light">
              Admin
            </a>
            <a v-if="isLoggedIn" class="button is-light" @click="performLogout">
              Log out
            </a>
            <a
              v-else
              class="button is-secondary has-text-white-bis"
              @click="openLoginModal"
            >
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import api from '@/api'
  import { mapState, mapMutations, mapActions } from 'vuex'

  import LoadingIcon from '@/components/LoadingIcon.vue'

  export default {
    name: 'Navbar',
    components: {
      LoadingIcon,
    },
    data() {
      return {
        isActive: false,
        addNewIsActive: false,
        filtersIsActive: false,
      }
    },
    computed: {
      ...mapState('user', ['isLoggedIn']),
      ...mapState('notes', ['searchPhrase', 'availableFilters', 'enabledFilters']),
      adminAddress() {
        return `${api.getServer()}/admin/`
      },
    },
    methods: {
      ...mapMutations('modal', ['open']),
      ...mapActions('user', ['logout']),
      ...mapActions('notes', ['reloadAllNotes']),
      ...mapMutations('notes', ['setSearchPhrase', 'enableFilter', 'disableFilter']),
      openNoteModal() {
        this.open({ name: 'note' })
      },
      openCalendarNoteModal() {
        this.open({ name: 'calendar-note' })
      },
      openRecurringCalendarNoteModal() {
        this.open({ name: 'recurring-note' })
      },
      openLoginModal() {
        this.open({ name: 'login' })
      },
      performLogout() {
        this.logout()
        this.$router.push({ name: 'home' })
      },
      performSearch(event) {
        this.setSearchPhrase(event.target.value)
      },
      filterIsEnabled(filter) {
        return this.enabledFilters.includes(filter)
      },
      toogleFilter(filter) {
        if (this.filterIsEnabled(filter)) {
          this.disableFilter(filter)
        } else {
          this.enableFilter(filter)
        }
      },
    },
  }
</script>

<style scoped lang="scss"></style>
