<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-capitalized">
        {{ note.data.title }}
      </p>
      <div class="card-header-icon">
        <FavoriteIcon :noteId="note.id" />
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
          <span
            class="line"
            v-for="(line, index) in content"
            :key="`${note.id}-${index}`"
          >
            {{ line }} <br />
          </span>
        </p>
        <div class="level" @click="preview = !preview">
          <span class="icon is-medium has-text-grey-light" v-if="hasPreview">
            <i :class="previewIconClassObject"></i>
          </span>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" @click="openNoteModal">Edit</a>
      <a class="card-footer-item" @click="openDeleteNoteModal">Delete</a>
    </footer>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'
  import FavoriteIcon from '@/components/FavoriteIcon.vue'

  export default {
    name: 'Note',
    props: ['note'],
    components: {
      FavoriteIcon,
    },
    data() {
      const PREVIEW_LINES_LIMIT = 5
      const PREVIEW_CHARS_LIMIT = 200
      const lines = this.note.data.content.split('\n')

      return {
        PREVIEW_LINES_LIMIT,
        PREVIEW_CHARS_LIMIT,
        preview: lines.length > PREVIEW_LINES_LIMIT,
      }
    },
    computed: {
      hasPreview() {
        if (this.lines.length > this.PREVIEW_LINES_LIMIT) {
          return true
        }
        if (
          this.lines.length > 1 &&
          this.note.data.content.length > this.PREVIEW_CHARS_LIMIT
        ) {
          return true
        }

        return false
      },
      lines() {
        return this.note.data.content.split('\n')
      },
      content() {
        if (this.preview) {
          let lines_count = this.PREVIEW_LINES_LIMIT
          let content = this.lines.slice(0, lines_count)

          while (
            content.reduce((a, b) => a + b.length, 0) >
              this.PREVIEW_CHARS_LIMIT &&
            lines_count > 1
          ) {
            lines_count = lines_count - 1
            content = this.lines.slice(0, lines_count)
          }

          if (
            content.length === 1 &&
            content[0].length > this.PREVIEW_CHARS_LIMIT
          ) {
            content = [content[0].slice(0, this.PREVIEW_CHARS_LIMIT)]
          }

          return content
        }
        return this.lines
      },
      previewIconClassObject() {
        return {
          fas: true,
          'fa-2x': true,
          'fa-chevron-down': this.preview,
          'fa-chevron-up': !this.preview,
        }
      },
    },
    methods: {
      ...mapMutations('modal', ['open']),
      openNoteModal() {
        this.open({ name: 'note', args: { note: this.note } })
      },
      openDeleteNoteModal() {
        this.open({ name: 'delete-note', args: { note: this.note } })
      },
    },
  }
</script>

<style scoped lang="scss">
  .line {
    word-wrap: break-word;
  }
  .level {
    display: flex;
    justify-content: center;
  }
</style>
