<template>
  <div :class="{ modal: true, 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card" @keydown.shift.enter.exact.prevent="submit">
      <header class="modal-card-head">
        <p class="modal-card-title">Note</p>
        <FavoriteIcon v-if="!newNote" :noteId="noteId" />
      </header>
      <section class="modal-card-body">
        <article :class="errorMessageClassObject">
          <div class="message-body">{{ error }}</div>
        </article>
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" v-model="title" />
          </div>
          <p class="help"></p>
        </div>
        <div class="field">
          <label class="label">Date</label>
          <div class="control level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <datetime
                  type="datetime"
                  v-model="datetime"
                  format="dd-MM-yyyy HH:mm"
                  input-class="input"
                ></datetime>
              </div>
              <div class="level-item">
                <span class="icon is-medium" v-if="datetime" @click="datetime = null">
                  <i class="fas fa-times fa-lg"></i>
                </span>
              </div>
            </div>
          </div>
          <p class="help"></p>
        </div>
        <div v-if="newNote" class="field">
          <label class="label">Until</label>
          <div class="control level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <datetime
                  type="datetime"
                  v-model="untilDatetime"
                  format="dd-MM-yyyy HH:mm"
                  input-class="input"
                ></datetime>
              </div>
              <div class="level-item">
                <span class="icon is-medium" v-if="datetime" @click="datetime = null">
                  <i class="fas fa-times fa-lg"></i>
                </span>
              </div>
            </div>
          </div>
          <p class="help"></p>
        </div>
        <div v-if="newNote" class="field">
          <label class="label">Interval</label>
          <div class="control">
            <input type="number" min="1" max="2000" v-model="interval" />
          </div>
          <p class="help"></p>
        </div>
        <div v-if="!newNote" class="field">
          <label class="label">Applay to</label>
          <div class="control">
            <div class="select">
              <select v-model="applyTo">
                <option v-for="group in RecurringNoteGroup" :key="group.value">
                  {{ group.name }}
                </option>
              </select>
            </div>
          </div>
          <p class="help"></p>
        </div>
        <div class="field">
          <label class="label">Content</label>
          <div class="control">
            <textarea class="textarea" v-model="content" rows="2" />
          </div>
          <p class="help"></p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="modal-card-foot-left">
          <button v-if="newNote" class="button is-success" @click="create">
            Create
          </button>
          <button v-else class="button is-success" @click="update">Update</button>
          <button v-if="isCancelled" class="button" @click="undo_cancel">
            Undo cancel
          </button>
          <button v-else class="button" @click="cancel">Cancel</button>
        </div>
        <div class="modal-card-foot-right">
          <button class="button" @click="closeModal">Close</button>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
  import { mapState, mapMutations, mapGetters } from 'vuex'
  import { EntityModalMixin } from '@/mixins/EntityModalMixin.js'
  import { NoteType, RecurringNoteGroup } from '@/enums.js'

  import FavoriteIcon from '@/components/FavoriteIcon.vue'

  export default {
    name: 'RecurringCalendarNoteModal',
    mixins: [EntityModalMixin],
    components: {
      FavoriteIcon,
    },
    data() {
      return {
        noteType: NoteType.RECURRING_NOTE,
        modalName: 'recurring-note',
        untilDatetime: null,
        interval: null,
        until: null,
        applyTo: RecurringNoteGroup.THIS.name,
        RecurringNoteGroup,
      }
    },
    methods: {
      ...mapMutations('modal', ['close']),
      getNoteData() {
        const data = {
          title: this.title,
          content: this.content,
        }
        if (this.interval && this.until) {
          data['interval'] = parseInt(this.interval)
          data['until'] = this.until
          data['dates'] = []

          const until = new Date(this.until * 1000)
          let next_date = new Date(this.timestamp * 1000)
          next_date.setDate(next_date.getDate() + data['interval'])
          while (next_date <= until) {
            data['dates'].push(Math.floor(next_date / 1000))
            next_date.setDate(next_date.getDate() + data['interval'])
          }
        }

        return {
          fields: Object.keys(data),
          data: JSON.stringify(data),
          date: this.timestamp,
          applyTo: this.applyTo,
        }
      },
      getReplace() {
        return [
          { pattern: '#{type}', value: this.noteType.name },
          { pattern: '#{apply_to}', value: this.applyTo },
        ]
      },
    },
    computed: {
      ...mapState('modal', ['name', 'args']),
      ...mapGetters(['modal/isOpen']),
    },
    watch: {
      untilDatetime(value) {
        if (value !== null) {
          const date = new Date(this.untilDatetime)
          this.until = Math.floor(date / 1000)
        } else {
          this.until = null
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  @import '../scss/_variables.scss';

  .modal-card-foot {
    display: flex;
    justify-content: space-between;
  }
</style>
