<template>
  <div id="app">
    <Navbar />
    <router-view />
    <BottomNavbar v-if="isMobile" />
    <LoginModal />
    <NoteModal />
    <CalendarNoteModal />
    <RecurringCalendarNoteModal />
    <DeleteNoteModal />
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  import api from '@/api'
  import Navbar from '@/components/Navbar'
  import BottomNavbar from '@/components/BottomNavbar'
  import LoginModal from '@/components/LoginModal'
  import NoteModal from '@/components/NoteModal'
  import CalendarNoteModal from '@/components/CalendarNoteModal'
  import RecurringCalendarNoteModal from '@/components/RecurringCalendarNoteModal'
  import DeleteNoteModal from '@/components/DeleteNoteModal'

  export default {
    name: 'app',
    components: {
      Navbar,
      BottomNavbar,
      LoginModal,
      NoteModal,
      CalendarNoteModal,
      RecurringCalendarNoteModal,
      DeleteNoteModal,
    },
    computed: {
      ...mapState('notes', ['notes']),
      ...mapState('app', ['isMobile']),
      ...mapState('user', { userData: state => state.data }),
    },
    methods: {
      ...mapActions('user', ['getUserData']),
      ...mapActions('app', ['loadAppDataFromCache', 'updateIsMobile']),
    },
    created() {
      if (api.isLoggedIn()) {
        this.loadAppDataFromCache()
        this.getUserData()
      }
    },
    mounted() {
      this.updateIsMobile()
      window.addEventListener('resize', this.updateIsMobile)
    },
    unmounted() {
      window.removeEventListener('resize', this.updateIsMobile)
    },
    watch: {
      notes(newNotes) {
        window.localStorage.setItem('notes', JSON.stringify(newNotes))
      },
      userData(newData) {
        window.localStorage.setItem('userData', JSON.stringify(newData))
      },
    },
  }
</script>

<style lang="scss">
  @import './scss/_variables.scss';

  #app {
    background-color: $white-ter;
  }
</style>
