@charset "utf-8";

@import './_variables.scss';

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$primary: $orange;
$secondary: $teal;
$button-border-width: 0px;

@import "../../node_modules/bulma/bulma.sass";

.is-secondary {
    background-color: $secondary
}

.has-primary-bg {
    background-color: $primary
}

.has-secondary-bg {
    background-color: $secondary
}

.has-secondary-text {
    color: $secondary
}
